<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox" checked>

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
	{% if page.title == "Contact" or page.category == "contact" %}
		<a href="/images/references/munch_1942.html" title="Self Portrait in the Garden Ekely, Munch (1942)"><img src="/images/munch_portrait.jpg"></a>
	{% elsif page.title == "Education/CV" or page.category == "educationcv" %}
		<a href="/images/references/bacon_1933.html" title="The Crucifixion (With Skull), Bacon (1933)"><img src="/images/bacon_crucifixion_skull.jpg"></a>
	{% elsif page.title == "Research" or page.category == "research" %}
		<a href="/images/references/tanning_1942.html" title="Concerning Wishes, Tanning (1942)"><img src="/images/tanning_concerning_wishes.jpg"></a>
	{% elsif page.title == "Tutorials" or page.category == "tutorial"%}
		<a href="/images/references/earle_1985.html" title="Blue Nocturne, Earle (1985)"><img src="/images/blue_nocturne.jpg"></a>
	{% else %}
		<a href="/images/references/ernst_1937.html" title="L’Ange du Foyer (Le Triomphe du Surréalisme), Ernst (1937)"><img src="/images/ernst_foyer.jpg"></a>
	
	{% endif %}
	
    <p>{{ site.sidebar_text }}</p>
	
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.title == 'Home' %} active{% endif %}" href="{{ '/' | absolute_url }}">Home</a>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages | sort:"url" %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" or node.layout == "page-notitle"%}
          <a class="sidebar-nav-item{% if page.url == node.url or page.category == node.category %} active{% endif %}" href="{{ node.url | absolute_url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}

  </nav>

  <div class="sidebar-item">
	<a href="https://www.twitter.com/paris_flood" title="Twitter"><i class="fa fa-twitter-square fa-2x"></i></a>
    <a href="https://scholar.google.com/citations?user=PQWP9msAAAAJ&hl=en" title="Google Scholar"><i class="ai ai-google-scholar-square ai-2x"></i></a>
    <a href="https://www.github.com/parisflo" title="Github"><i class="fa fa-github-square fa-2x"></i></a>
    <p>		
		&copy; {{ site.time | date: '%Y' }} Paris Flood.
    </p>
  </div>
</div>
